[
  {rabbit, [{auth_backends, [rabbit_auth_backend_http,rabbit_auth_backend_internal]}]},
  {rabbitmq_auth_backend_http,
   [{user_path,     "http://${hosts:main}:${ports:nginx}/auth/user"},
    {vhost_path,    "http://${hosts:main}:${ports:nginx}/auth/vhost"},
    {resource_path, "http://${hosts:main}:${ports:nginx}/auth/resource"}]}
].

